<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Test{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.navbar {
  margin-bottom: 0;
}
.navbar span.ref {
  border-bottom: 1px solid;
}
.navbar .navbar-text.active {
  margin: 0;
  padding: 15px;
  color: #555555;
  background-color: #e7e7e7;
}
.txt a, a.txt {
  text-decoration: none;
  border-bottom: 1px solid;
}
.txt ul {
  list-style-type: square;
  padding-left: 18px;
  -webkit-padding-start: 18px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
footer hr {
  margin-bottom: 14px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
</style>
  </head>
  <body>

   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>

    <footer>
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <!--div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
{% ifequal menu_item index.name %}
          <span class="navbar-brand">{{ index.text }}</span>
{% else %}
          <a href="{% url 'info:'|add:index.name %}" class="navbar-brand">{{ index.text }}</a>
{% endifequal %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
{% for item in menu.info %}
  {% ifequal menu_item item.name %}
            <li><p class="navbar-text active">{{ item.text }}</p></li>
  {% else %}
            <li><a href="{% if item.path %}{% url 'info:'|add:item.path item.name %}{% else %}{% url 'info:'|add:item.name %}{% endif %}"><span class="ref">{{ item.text }}</span></a></li>
  {% endifequal %}
{% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% for item in menu.customer %}
  {% ifequal menu_item item.name %}
            <li><p class="navbar-text active">{{ item.text }}</p></li>
  {% else %}
            <li><a href="{% url 'customer:'|add:item.name %}"><span class="ref">{{ item.text }}</span></a></li>
  {% endifequal %}
{% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    </div>
    <footer>
      <div class="container">
        <hr />
        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-9">
            <p>&copy; 2014 «Карготрек»<br />
            <span class="text-muted">Сервис находится в разработке</span></p>
          </div>
          <div class="col-xs-2 col-sm-4 col-md-3">
            <div class="hidden-xs">
              <form role="search" class="">
                <div class="input-group">
                  <label class="sr-only" for="id_search">Поиск</label>
                  <input type="search" id="id_search" class="form-control" placeholder="поиск" />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">&#8626;</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="visible-xs pull-right">
              <p><a href="#" role="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

