{% extends 'base.html' %}
{% load boots %}

{% block title %}Обратная связь с «Деливери»{% endblock %}

{% block roof %}
  <link href="/static/styles/forms.css" rel="stylesheet">
  {% if form.has_field_errors %}
  <link href="/static/styles/form_errors.css" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form role="form" class="form-solid" action="" method="post">{% csrf_token %}
        <h2>Обратная связь</h2>
        <p>Задайте вопрос или выскажите ваши предложения</p>
        {% b_input form.subject 'autofocus' type='text' spec_class='first' %}
        {% b_input form.email type='email' %}
        {% b_textarea form.text rows='10' spec_class='last' %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Отправить</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block ground %}
  {% if form.has_field_errors %}
  <script src="/static/scripts/form_errors.js"></script>
  {% endif %}
{% endblock %}
