{% extends 'base.html' %}
{% load boots %}

{% block title %}Заказ доставки в «Моём Деливери»{% endblock %}

{% block roof %}
  <link href="/static/styles/forms.css" rel="stylesheet">
  {% if form.has_field_errors %}
  <link href="/static/styles/form_errors.css" rel="stylesheet">
  {% endif %}
  <link href="/static/styles/choicebox.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form role="form" class="form-normal" action="" method="post">{% csrf_token %}
        <h2>Доставка груза</h2>
        <p>Укажите основные сведения о перевозке и информацию о грузе</p>
        {% b_choicebox form.kind 'autofocus' %}
        <p class="form-control-static">Адреса перевозки</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.dispatch_address.label }}</span>
              {% b_input form.dispatch_address 'unlabeled' type='text' %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.delivery_address.label }}</span>
              {% b_input form.delivery_address 'unlabeled' type='text' %}
            </div>
          </div>
        </div>
        <p class="form-control-static">Количество</p>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.number_of_units.label }}</span>
              {% b_input form.number_of_units 'unlabeled' type='number' %}
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.number_of_boxes.label }}</span>
              {% b_input form.number_of_boxes 'unlabeled' type='number' %}
            </div>
          </div>
        </div>
        <p class="form-control-static">Вес коробки в кг</p>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.weight_nett.label }}</span>
              {% b_input form.weight_nett 'unlabeled' type='number' %}
              <!-- min="0.1" step="any" -->
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">{{ form.weight_gross.label }}</span>
              {% b_input form.weight_gross 'unlabeled' type='number' %}
            </div>
          </div>
        </div>
        <p class="form-control-static">Размеры коробки в см</p>
        <div class="row">
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon">Ш</span>
              {% b_input form.width type='number' %}
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon">В</span>
              {% b_input form.height type='number' %}
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon">Т</span>
              {% b_input form.length type='number' %}
            </div>
          </div>
        </div>
        {% b_textarea form.description rows='3' %}
        {% b_choicebox form.danger_category %}
        {% b_textarea form.note rows='3' %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Заказать</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block ground %}
  {% if form.has_field_errors %}
  <script src="/static/scripts/form_errors.js"></script>
  {% endif %}
  <script src="/static/scripts/choicebox.js"></script>
{% endblock %}
