{% extends 'base.html' %}
{% load boots %}

{% block title %}Онлайн-помощник «Деливери»{% endblock %}

{% block roof %}
  <link href="/static/styles/forms.css" rel="stylesheet">
  {% if form.has_field_errors %}
  <link href="/static/styles/form_errors.css" rel="stylesheet">
  {% endif %}
  <link href="/static/styles/choicebox.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form role="form" class="form-normal" action="" method="post">{% csrf_token %}
        <h2>Помощь экспертов</h2>
        <p>Опишите вашу проблему и мы поможем найти решение</p>
        {% b_choicebox form.kind 'autofocus' %}
        {% b_textarea form.text rows='10' %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Отправить</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block ground %}
  {% if form.has_field_errors %}
  <script src="/static/scripts/form_errors.js"></script>
  {% endif %}
  <script src="/static/scripts/choicebox.js"></script>
{% endblock %}
