{% extends 'base.html' %}
{% load boots %}

{% block title %}Личный кабинет «Мой Деливери»{% endblock %}

{% block roof %}
  <link href="/static/styles/forms.css" rel="stylesheet">
  {% if form.has_field_errors %}
  <link href="/static/styles/form_errors.css" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form role="form" class="form-solid" action="" method="post">{% csrf_token %}
        <h2>Новый личный кабинет</h2>
  {% if form.non_field_errors %}
        <div id="non_field_alert" class="alert alert-danger alert-dismissable fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
    {% endfor %}
        </div>
  {% endif %}
        {% b_input form.first_name 'autofocus' type='text' spec_class='first' %}
        {% b_input form.last_name type='text' %}
        {% b_input form.email type='email' %}
        {% b_input form.password type='password' %}
        {% b_input form.password_confirm type='password' %}
        {% b_input form.phone type='tel' spec_class='last' %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Создать</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block ground %}
  {% if form.has_field_errors %}
  <script src="/static/scripts/form_errors.js"></script>
  {% endif %}
{% endblock %}
